*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
html{
 max-width:100%;
 font-family: Arial, Helvetica, sans-serif;
 width: 100%;
height: auto;
}
header{
    background-color: #12CDD4;
    display: flex;
  flex-wrap: wrap;
  gap: 25px 15px;
  justify-content: center;
    top: 0;
    z-index: 1;
    width: 100%;
   height: auto;
    padding: 10px;
    margin: 0;

    
}
.lor{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 0%;
}
header img {
    height: 50px;
}
nav{
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin: 0%;
    padding: 0%;
}
nav a{
    margin: 10px;
    padding: 10px;
    font-size: 17px;
    text-decoration: none;
}
nav .noso{
    color: white;
}
nav .info{
    color: black;
    border: 1px solid white;
    border-radius:30px ;
}
.contac{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 20px 40px;
    justify-content: center;
    padding: 15px;
    margin-bottom: auto;
    height: auto;
    width: 100%;
    max-width: 100%;
    
}
.contac .men{
    padding: 15px;
}
.contac .men h1{
padding: 30px;
margin: 20px 10px;
color: #12CDD4;
text-align:justify ;
}
.conn{
    padding: 15px;
    margin: 15px 25px;
}
.conn img{
    margin: 50px 0px;
}
.conn p:first-child{
    color: rgb(129, 127, 127);
    text-align: left;
    /* border-bottom: 1px solid silver; */
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px;
}
 .input{
    padding: 15px;
    height: auto;
}
.usuario{
    --color:silver ;
        position: relative;
        border-bottom: 2px solid rgb(121, 114, 114);
        margin: 30px 0;
    
    }
    .usuario input{
     
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
    }
    .usuario label{
        color:#12CDD4;
        cursor: pointer;
        
         transform: translateY(10px);
        transition: transform .5s,color .3s ;    
    
    }
    .usuario span::before{
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 0%;
        height: 2px;
        background: #6c3483;
        transition: .05s;
    }
    .usuario input :focus~label,
    .usuario input :focus~label{
     top: -5px;
      color:#6c3483;
    }
    .usuario input :focus~ span ::before
    .usuario input :focus~ span ::before{
    
        width: 100px;
    }

    .cul{
        position: relative;
        border-bottom: 2px solid rgb(121, 114, 114);
        margin: 30px 0;
        
    }
    .cul label{
        color:#12CDD4;
        cursor: pointer;
       
         transform: translateY(10px);
        transition: transform .5s,color .3s ; 
        margin-bottom: 20px;  
    }
  
    #categoria {
        width: 100%;
        height: 30px;
        border: none;
        font-size: 16px;
        color: rgb(143, 138, 138);
    

        
        
    }

    .conm label{
        
        color: #12CDD4;

    }
.conm textarea{
    border:1px solid silver;
    border-radius: 10px;
    padding: 20px;
    margin: 10px ;
}
.ent{
    text-align: end;
}
#enviar{
    color: white;
    background-color: #12CDD4;
    padding: 9px;
border: #12CDD4;
border-radius: 20px;

}













footer{
    background-color: #12CDD4;
    padding: 10px;
    height: auto;
  }
  .es{
    display: flex;
    justify-content: left;
    align-content: center;
    margin: 0 ;
    width: 29%;
  }
  .es img{
    align-items: center;
    width: 30px;
  }
  .fon{
    display: flex;
    flex-wrap: wrap;
    gap: 25px 15px;
    justify-content: center;
    align-items: center;
    
  }
  .fon .cont{
    padding: 15px;
    width: 100%;
    max-width: 330px;
    height:auto;
    overflow: 150px;
    border-right:  1px  solid silver;
  

  }
  .fon .cont p:first-child{
    color: white;
    text-align: center;
    /* border-bottom: 1px solid silver; */
    font-weight: bold;
    font-size: 1.2rem;

    
  }
  .cont img {
    width: 10%;
    display: block;
    margin:1px 15px;
   
  }
  .red1{
    display: flex;
  }
  .credi{
    border-top: 1px solid black;
    display: flex;
justify-content: center;
 align-items: center; 
margin: 1px auto; 
height: auto;
  }
  .credi img{
    height: 30px;
  }
  .cred{
    display: flex;
    justify-content: right; 
    margin: 1px auto;

  }
  .cred p{
    margin: 10px;
  }
  .cred a{
    margin: 10px;
    text-decoration: none;
    color: white;
  }
 