* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  max-width: 100%;
  text-align: center;
  width: 100%;
  height: auto;
  font-family: "PT Serif", serif;
}
header {
  background-color: #3586ff;
  display: flex;
  flex-wrap: wrap;
  gap: 25px 15px;
  justify-content: center;
  top: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0;
}
.lor {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0%;
  margin: 20px;
  color: #fff;
}
header img {
  width: 29%;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0%;
  padding: 0%;
}
nav a {
  margin: 10px;
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
}
nav .noso {
  color: #333;
}
nav .noso:hover {
  color: #fff;
}
nav .info {
  color: #fff;
  /* border: 1px solid white; */
  border-radius: 30px;
}
nav .info:hover {
  color: #2a3b47;
}

body {
  background-color: #333;
}

.rese h1 {
  text-align: center;
  color: #3586ff;
  padding: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  margin-top: 10px;
  color: #3586ff;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;

  border-radius: 4px;
  background-color: #333;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  outline: none;
  color: #fff;
  font-family: "PT Serif", serif;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3586ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#successMessage {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  border-radius: 8px;
  text-align: center;
}

.hidden {
  display: none;
}

footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li {
  list-style: none;
}
footer .social_icon a,
footer .menu li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon a :hover {
  transform: translateY(-10px);
}
footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a :hover {
  opacity: 1;
}
footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}
footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_2 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave4 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
